.tile {
    border: 1px solid #f77e75;
    border-radius: .25rem;
    background-color: #fcd2cf;
    display: block;
    cursor: pointer;
    overflow:hidden;
}

.silhouette {
    height: 50px;
}

.main {
    padding: 1%;
    padding-top: 0%;
}

.bold {
    font-weight: bold;
}